<ul class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ul>
{{#if loggedIn}}
<footer class="footer-nav">
    <a href="/dashboard" class="button create-a-post">Create a Post</a>
</footer>
{{/if}}