h1 {
    margin: 20px;
}
header {
    display: flex;
    justify-content: space-between;
}
.post-title {
    color: black;
}
.post {
    background-color: lightgray;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
}
.post p {
    color: black;
}
button {
    margin: 15px;
    display: flex;
}
.header-button {
    margin: 25px 15px;
}
ul {
    list-style-type: none;
}
.footer-nav {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    background-color: white;
}
.create-a-post {
    width: 90vw;
}
.comment {
    background-color: lightgray;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
}

/* util classes */

.add-margin {
    margin: 20px;
}
.edit-link {
    margin: 0px 20px;
}
.hide {
    display: none
}